//$navbar-background-color: transparent;
@import "~bulma/sass/utilities/initial-variables";

// Config vars
$theme-yellow: #FFAF00;
$inverted: #fff;

$primary: $theme-yellow;
$primary-invert: $inverted;
@import "~bulma";

html, body {
  background-color: #fafafa;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quattrocento Sans', sans-serif;
}

.hero {
  position: relative;
  .title {
    background: $theme-yellow;
    display: inline-block;
    padding: .2em .3em .25em .3em;
  }
}

.hero-image {
  position: absolute !important;
  width: 100%;
  height: 100%;
}

.hero-body {
  > .container {
    z-index: 1;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.navbar {
  background-size: cover;
  font-family: 'Quattrocento Sans', sans-serif;
  @media(min-width: $desktop) {
    min-height: 5.25rem !important;
  }
  //filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, .2));
}

.inline-image {
  width: 35%;
  float: right;
  margin: 0 0 1em 1em;
}

.custom-box {
  padding: 2rem;
  @media(max-width: $tablet) {
    padding: 0;
  }
}
.react-photo-gallery--gallery {
  img {
    cursor: pointer;
    transition: all .2s ease-out;
    &:hover {
      transform: scale(1.02);
    }
  }
}

.full-width-image-container {
  // Helper Classes
  width: 100vw;
  height: 400px;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 5em -50vw;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  > * {
    flex-basis: calc(50% - 4px);
    margin: 2px;
    position: relative;
    @media(max-width: $tablet) {
      flex-basis: 100%;
    }
    &:hover, &:focus {
      .videos__name {
        opacity: 0;
      }
    }
  }
  &__name {
    color: #fff;
    position: absolute;
    top: 0;
    opacity: 1;
    transition: all .2s ease-out;
    font-size: 18px;
    padding: .5em;
  }
}

.logo {
  background: url("../img/urvaste-mesi2.png");
  background-size: cover;
  height: 160px;
  width: 125px;
  position: absolute;
  transition: all .15s ease-in-out;
  &:hover {
    background-color: transparent !important;
    transform: scale(1.02);
  }
  @media(max-width: $desktop) {
    height: 80px;
    width: 62px;
    margin-left: 1em;
  }
}

.column.card .spacer {
  padding: .5rem;
}

.checkout {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.price-wrap {
  justify-content: space-between;
  align-items: center;
}
.add-to-order {
  border-radius: 0 ;
  margin: -1px;
}
.date {
  margin-top: -1.2em;
  display: block;
  margin-bottom: 1em;
}